<div class="row">
<div class="col-md-4">
<%= image_tag @book.book_img.url(:book_show), class: "book-show" %>
</div>

<div class="col-md-8">
<h2><%= @book.title %></h2>
<h3><%= @book.author %></h3>
<h2>Avarage Rating</h2>
<div class="avarage-review-rating" data-score=<%= @avarage_review %>></div>
<span>Based on <%= @book.reviews.count %> reviews</span>
<h4>Category: <%= @book.category.name %></h4>
<p><%= @book.description %></p>
</div>

</div>
<div class = "row">
    <div class = "col-md-4">
        <%= render @book.reviews %>
        <div>
             <%= link_to "Add Review", new_book_review_path(@book) %>
        </div>
    </div>
    
    
    
</div>
<%= link_to "Back" ,  root_path %>

<!--only able signed in users to use edit and delete-->
<% if user_signed_in? %>
<!--only book owners can use below function buttons-->
<% if @book.user_id == current_user.id %>
<%= link_to "Edit" ,  edit_book_path(@book) %>
<%= link_to "Delete", book_path(@book), method: :delete, data: ( confirm = "Are you sure?" ) %>
<% end %>
<% end %>


<!--raty code for star reviewing-->
<script>
    $('.review-rating').raty({
        readOnly: true,
        score: function() {
            return $(this).attr('data-score');
        },
        path: '/assets/'
        
    });
</script>

<!--code nay de chay cai hien average review o tren-->
<script>
$('.avarage-review-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
        return $(this).attr('data-score')
    }
});
    
</script>